################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1_OOP/.vs/Project1_OOP/v15
